.container {
    max-width: 955px;
    background-color: antiquewhite;
    border: 2px solid;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
}

.message {
    border: 2px solid;
    width: 24%;
    background-color: aliceblue;
    padding: 10px;
    margin: 17px 12px;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp {
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin-top: 23px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}